html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #fff;
  --second-color: #000;
  --input-color: #e7e7e7;
  --arrow: url("../icon/arrow-down.svg");
  --shadow: rgba(0, 0, 0, 0.75);
}

* {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: var(--second-color);
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--main-color);
  height: 100%;
}

html {
  height: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
  background-color: var(--main-color);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}
.menu__item {
  min-height: 80px;
  padding: 12px;
  padding-top: 30px;
  padding-bottom: 15px;
  border-right: var(--second-color) 1px solid;
}
.menu__item:last-child {
  border-right: none;
}
.menu__link {
  display: block;
  min-width: 135px;
}
.menu__title {
  font-size: 32px;
  display: block;
  min-width: 370px;
  letter-spacing: 20.48px;
  line-height: 36px;
}
.menu__social {
  display: block;
  padding: 2px;
}
.menu__social path {
  fill: var(--second-color);
}

.search {
  position: relative;
}
.search svg {
  position: absolute;
  top: 10px;
  left: 100px;
}
.search svg path {
  fill: var(--second-color);
}
.search__input {
  width: 333px;
  height: 35px;
  color: var(--second-color);
  border-radius: 48px;
  background-color: var(--input-color);
  border: var(--second-color) 1px solid;
}
.search__input::-webkit-input-placeholder {
  color: var(--second-color);
}
.search__input::-moz-placeholder {
  color: var(--second-color);
}
.search__input:-ms-input-placeholder {
  color: var(--second-color);
}
.search__input::-ms-input-placeholder {
  color: var(--second-color);
}
.search__input::placeholder {
  color: var(--second-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  border-right: var(--second-color) 1px solid;
  min-width: 163px;
  padding: 12px 0 3px;
}
.footer__item:last-child {
  border-right: none;
}
.footer__item:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
.footer__link {
  display: block;
  color: inherit;
}
.footer__link--big {
  min-width: 620px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 143px;
  padding: 150px 100px 150px 52px;
}
.content__view-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 118px;
}
.content__small-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__small-images span {
  margin-top: -19px;
}
.content__big-images {
  -webkit-box-shadow: 7px 13px 0px 0px var(--shadow);
          box-shadow: 7px 13px 0px 0px var(--shadow);
}
.content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 22px;
}
.content__title, .content__text {
  text-align: left;
}
.content__personalize, .content__add, .content__material, .content__dimensions {
  width: 100%;
  border: 1px solid var(--second-color);
  height: 68px;
  background: var(--main-color);
}
.content__add {
  background: var(--second-color);
  color: var(--main-color);
  position: relative;
}
.content__add::after {
  content: url("../icon/plus.svg");
  color: white;
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  width: 64px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.content__text {
  padding-bottom: 67px;
}
.content__material, .content__dimensions {
  position: relative;
}
.content__material::after, .content__dimensions::after {
  content: var(--arrow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  width: 64px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}/*# sourceMappingURL=style.css.map */