@import 'reset';

// $main-color: #fff;
// $second-color: #000;
// $input-color: #e7e7e7;
// $arrow: url('../icon/arrow-down.svg');
// $shadow: rgba(0, 0, 0, 0.75);

// $main-color: #000;
// $second-color: #fff;
// $input-color: #181818;
// $arrow: url('../icon/arrow-down-white.svg');
// $shadow: rgba(255, 255, 255, 0.75);

:root {
	--main-color: #fff;
	--second-color: #000;
	--input-color: #e7e7e7;
	--arrow: url('../icon/arrow-down.svg');
	--shadow: rgba(0, 0, 0, 0.75);

	// --main-color: #000;
	// --second-color: #fff;
	// --input-color: #181818;
	// --arrow: url('../icon/arrow-down-white.svg');
	// --shadow: rgba(255, 255, 255, 0.75);
}

* {
	font-family: 'Jost', sans-serif;
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;

	text-align: center;

	color: var(--second-color);
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--main-color);
	height: 100%;
}

html {
	height: 100%;
}

.container {
	width: 1440px;
	margin: 0 auto;

	background-color: var(--main-color);
}

.menu {
	&__list {
		display: flex;
		align-items: center;
		// justify-content: space-between;

		min-height: 50px;
	}

	&__item {
		min-height: 80px;
		padding: 12px;
		padding-top: 30px;
		padding-bottom: 15px;
		border-right: var(--second-color) 1px solid;

		&:last-child {
			border-right: none;
		}
	}

	&__link {
		display: block;

		min-width: 135px;
	}

	&__title {
		font-size: 32px;

		display: block;

		min-width: calc(394px - 24px);

		letter-spacing: 20.48px;
		line-height: 36px;
	}

	&__social {
		display: block;

		padding: 2px;
		path {
			fill: var(--second-color);
		}
	}
}

.search {
	position: relative;

	svg {
		position: absolute;
		top: 10px;
		left: 100px;
		path {
			fill: var(--second-color);
		}
	}

	&__input {
		width: 333px;
		height: 35px;

		color: var(--second-color);
		border-radius: 48px;
		background-color: var(--input-color);
		border: var(--second-color) 1px solid;

		&::placeholder {
			color: var(--second-color);
		}
	}
}

.footer {
	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		border-right: var(--second-color) 1px solid;
		min-width: 163px;
		padding: 12px 0 3px;
		&:last-child {
			border-right: none;
		}
		&:hover {
			background-color: var(--second-color);
			color: var(--main-color);
		}
	}

	&__link {
		display: block;
		color: inherit;
		&--big {
			min-width: 620px;
		}
	}
}

.content {
	display: flex;
	gap: 143px;

	padding: 150px 100px 150px 52px;
	&__view-image {
		display: flex;
		gap: 118px;
	}

	&__small-images {
		display: flex;
		gap: 52px;
		flex-direction: column;
		span {
			margin-top: -19px;
		}
	}
	&__big-images {
		box-shadow: 7px 13px 0px 0px var(--shadow);
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 22px;
	}

	&__title,
	&__text {
		text-align: left;
	}

	&__personalize,
	&__add,
	&__material,
	&__dimensions {
		width: 100%;
		border: 1px solid var(--second-color);
		height: 68px;

		background: var(--main-color);
	}

	&__add {
		background: var(--second-color);
		color: var(--main-color);
		position: relative;
		&::after {
			content: url('../icon/plus.svg');
			color: white;
			background-color: var(--main-color);
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 0;
			width: 64px;
			top: 0;
			right: 0;
			bottom: 0;
			position: absolute;
		}
	}

	&__text {
		padding-bottom: 89px - 22px;
	}

	&__material,
	&__dimensions {
		position: relative;

		&::after {
			content: var(--arrow);

			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 0;
			width: 64px;
			top: 0;
			right: 0;
			bottom: 0;
			position: absolute;
		}
	}
}
